@model SkinCol.Models.FacturaInsumos

@{
    ViewData["Title"] = "Detalles Factura";
}

<h2>Details</h2>

<div>
    <h4>FacturaInsumos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProveedorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FacturaInsumosID">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
