@model IEnumerable<SkinCol.Models.FacturaInsumos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div>
<table class="table" mb-4 >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProveedorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaInsumosID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaInsumosID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaInsumosID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
